body {
  color: #333;
  font-family: 'Noto Serif SC', serif !important;
  text-align: center !important; }

nav.bg-dark {
  background-color: #000 !important; }
  nav.bg-dark a img {
    height: 2em;
    width: 5em; }
  nav.bg-dark .navbar-nav {
    width: 100%;
    justify-content: space-evenly !important; }
    nav.bg-dark .navbar-nav a {
      font-size: 1.2em; }

section#footer {
  padding: 2em; }
  section#footer h5 {
    color: #fff;
    font-weight: bold; }
  section#footer #map {
    padding: 1em 0em; }
    section#footer #map .mapouter {
      height: 10em;
      width: 100%;
      margin: auto; }
      section#footer #map .mapouter .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 10em;
        width: 100%; }
        section#footer #map .mapouter .gmap_canvas iframe {
          width: 100%;
          height: 100%; }
  section#footer #links {
    padding: 1em 2em; }
    section#footer #links h5 {
      padding-left: 2em; }
    section#footer #links div {
      margin-top: 1em; }
    section#footer #links .go-to-links {
      list-style: none;
      padding-left: 2.5em; }
      section#footer #links .go-to-links li {
        position: relative;
        color: #fff;
        font-weight: 500; }
        section#footer #links .go-to-links li a {
          color: inherit; }
  section#footer #contact {
    padding: 1em 0em; }
    section#footer #contact .container {
      padding: 0em; }
      section#footer #contact .container .wrapper {
        overflow: hidden; }
        section#footer #contact .container .wrapper .fa-icon {
          float: left;
          font-size: 2em;
          color: #fff; }
        section#footer #contact .container .wrapper #address {
          float: left;
          width: 75%;
          color: #fff;
          padding: 0em 0em 0em 1em;
          margin: 0em; }
        section#footer #contact .container .wrapper #email {
          float: left;
          width: 75%;
          color: #fff;
          padding: 0em 0em 0em 1em;
          margin: 0em; }
      section#footer #contact .container #social {
        margin-top: 1em;
        display: flex;
        justify-content: space-evenly; }
        section#footer #contact .container #social .fa-icon {
          font-size: 2em;
          color: #fff;
          opacity: 0.8; }
        section#footer #contact .container #social .fa-icon:hover {
          opacity: 1; }

#gallery-container {
  max-width: 100% !important;
  padding: 3em; }
  #gallery-container .gallery {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 3em;
    column-gap: 3em;
    margin-top: 3em;
    overflow: hidden; }
    #gallery-container .gallery img {
      width: 100%;
      height: auto;
      -webkit-transition: 500ms;
      transition: 500ms;
      margin-bottom: 3em;
      opacity: 0.8;
      border-radius: 3em;
      page-break-inside: avoid;
      /* For Firefox. */
      -webkit-column-break-inside: avoid;
      /* For Chrome & friends. */
      break-inside: avoid;
      /* For standard browsers like IE. :-) */ }
    #gallery-container .gallery img:hover {
      opacity: 1; }

@media screen and (max-width: 767px) {
  #gallery-container .gallery {
    -webkit-column-count: 2;
    column-count: 2; }
    #gallery-container .gallery div {
      margin: 0;
      width: 200px; }
  section#footer #links .go-to-links {
    padding-left: 0em; }
  section#footer #links h5 {
    padding-left: 0em; } }

@media screen and (max-width: 479px) {
  #gallery-container .gallery {
    -webkit-column-count: 1;
    column-count: 1; }
    #gallery-container .gallery div {
      margin: 0;
      width: 200px; }
  section#footer #links .go-to-links {
    padding-left: 0em; }
  section#footer #links h5 {
    padding-left: 0em; } }

#home-image {
  background-image: url(https://img.buzzfeed.com/buzzfeed-static/static/2015-08/11/14/enhanced/webdr01/original-9161-1439317330-3.jpg?downsize=715:*&output-format=auto&output-quality=auto);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  padding: 0em;
  margin: 0em; }
  #home-image img {
    width: 100%;
    height: 100vh; }

#intro {
  padding: 3em 5em; }
  #intro h4:after {
    border-bottom: 2px solid greenyellow;
    content: "";
    display: block;
    width: 120px;
    margin: 0 auto; }
  #intro p {
    color: #000;
    margin: 2em 0em; }

#activities {
  padding: 2em 5em;
  background-color: lightgray; }
  #activities h4:after {
    border-bottom: 2px solid greenyellow;
    content: "";
    display: block;
    width: 120px;
    margin: 0 auto; }
  #activities .row {
    justify-content: space-evenly; }
    #activities .row div img {
      border-radius: 100%;
      margin-top: 2em;
      width: 8em;
      height: 8em; }

#upcomming-events {
  padding: 2em 2em; }
  #upcomming-events h4:after {
    border-bottom: 2px solid greenyellow;
    content: "";
    display: block;
    width: 200px;
    margin: 0 auto; }
  #upcomming-events div {
    justify-content: space-evenly; }
    #upcomming-events div div {
      height: 40vh;
      padding: 0.5em; }
      #upcomming-events div div div {
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center; }
        #upcomming-events div div div h4 {
          color: white;
          font-weight: bold; }
        #upcomming-events div div div h4:after {
          border: none; }

@media screen and (max-width: 767px) {
  #home-image {
    background-image: url(https://66.media.tumblr.com/tumblr_m1yru9PNMV1qeo682o1_500.jpg); }
  #intro {
    padding: 2em 2em; } }

#ue-page #ue-header {
  margin-top: 5em; }
  #ue-page #ue-header h3:after {
    border-bottom: 2px solid skyblue;
    content: "";
    display: block;
    width: 300px;
    margin: 0 auto; }

#ue-page .event {
  height: auto;
  margin: 1em 0em; }
  #ue-page .event .event-img {
    margin: 1em;
    height: 35vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  #ue-page .event .event-desc {
    height: inherit;
    text-align: left;
    margin: 1em; }
    #ue-page .event .event-desc #text {
      overflow: hidden;
      position: relative;
      line-height: 1.5em;
      max-height: 4.5em;
      text-align: justify;
      margin-right: -1em;
      padding-right: 1em; }
      #ue-page .event .event-desc #text:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0; }
      #ue-page .event .event-desc #text:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white; }

#ue-page .event:after {
  border-bottom: 2px solid lightgray;
  content: "";
  display: block;
  width: 90%;
  margin: 0 auto; }

#ue-page .event:last-child::after {
  border-bottom: none; }

#ss-page #ss-header {
  margin-top: 5em; }
  #ss-page #ss-header h3:after {
    border-bottom: 2px solid skyblue;
    content: "";
    display: block;
    width: 240px;
    margin: 0 auto; }

#ss-page .event {
  height: auto;
  margin: 1em 0em; }
  #ss-page .event p {
    text-align: left;
    text-indent: 2em; }
  #ss-page .event h4 {
    text-align: left; }
  #ss-page .event .event-img {
    margin: 0 1em 1em 0;
    height: 35vh;
    float: left;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; }
  #ss-page .event .event-desc {
    height: inherit;
    text-align: left;
    margin: 1em; }
    #ss-page .event .event-desc #text {
      overflow: hidden;
      position: relative;
      line-height: 1.5em;
      max-height: 4.5em;
      text-align: justify;
      margin-right: -1em;
      padding-right: 1em; }
      #ss-page .event .event-desc #text:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0; }
      #ss-page .event .event-desc #text:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white; }

#ss-page .event:after {
  border-bottom: 2px solid lightgray;
  content: "";
  display: block;
  width: 90%;
  margin: 0 auto; }

#ss-page .event:last-child::after {
  border-bottom: none; }

#about-page #about-header {
  margin-top: 5em; }
  #about-page #about-header h3:after {
    border-bottom: 2px solid skyblue;
    content: "";
    display: block;
    width: 100px;
    margin: 0 auto; }

#about-page #about-desc {
  text-align: left;
  text-indent: 2em; }
